@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
body {
    background-color: #191919;
    font-family: DM sans;

    nav ul li a {
        color: #ede3d6;
        text-decoration: none;
        transition: color 0.5s ease; 
      }
      
      nav ul li a:hover {
        color: #e49d6c;
      }

      .slider-frame {
        width: 1280px;
          height: auto;
        margin:50px auto 0;
        overflow: hidden;
      }
      
      .slider-frame ul {
        display: flex;
        padding: 0;
        width: 300%;
        
        animation: slide 20s infinite alternate ease-in-out;
      }
      
      .slider-frame li {
        width: 100%;
        list-style: none;
      }
      
      .slider-frame img {
        width: 100%;
      }
      
      @keyframes slide {
        0% {margin-left: 0;}
        32% {margin-left: 0;}
        
        33% {margin-left: -100%;}
        66% {margin-left: -100%;}
        
        67% {margin-left: -200%;}
        100% {margin-left: -200%;}
        
        
      }

#sobre-mi img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
    display: block;
}

.header {
   position: absolute;
   top: 0%;
   left: 0%;
   right: 0%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   z-index: 1000;
  }
  header {
    background-color:#191919;
    
   }

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
  
  .header li a { 
    text-decoration: none;
    color: #FDE9DF;
    font-weight: bold;
    

  }
  #Servicios img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
#testimonios img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
  #terminos {
    background-image: url('fondos bas.jpg'); 
    background-size: cover;
    background-position: center;
    width: 100vw;
    min-height: 100vh;
    position: relative;
    font-family: 'DM Sans', sans-serif;

}

#terminos .contenido {
    position: relative;
    z-index: 2;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 120px;
    border-radius: 10px;
    color: #191919;
}
#politica {
    background-image: url('fondos bas.jpg'); 
    background-size: cover;
    background-position: center;
    width: 100vw;
    min-height: 100vh;
    position: relative;
    font-family: 'DM Sans', sans-serif;
}
#politica .contenido {
    position: relative;
    z-index: 2;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 20px;
    border-radius: 10px;
    color: #191919;
}
#contacto h2,
#contacto p {

}
#contacto {
  margin-top: 140px; 
  background-color: #fde9df;
}
#contacto input,
#contacto textarea {
    background-color: #f08580;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 70%;
    margin-bottom: 15px;
    font-family: DM sans;
}
#contacto button {
  background-color: #191919;
  color: #fde9df;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
h2{
    color: #191919;
    font-size: 25px;
}
p{
    color: #191919;
    font-size: 15px;
}
label{
    color: #FDE9DF;
}
h1{
    color: #191919;
    font-size: 30px;

}
footer{
   text-align: center;
   .footer-text {
    color: white;
  }
  
}