@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
body {
    background-color: #655E55;
    font-family: DM sans;

    
#sobre-mi img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
    display: block;
}

.header {
   position: absolute;
   top: 0%;
   left: 0%;
   right: 0%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   z-index: 1000;
  }
  header {
    background-color:#655E55
    
   }

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
  
  .header li a { 
    text-decoration: none;
    color: #FDE9DF;
    font-weight: bold;
    

  }
  #Servicios img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

  #terminos {
    background-image: url('fondos bas.jpg'); 
    background-size: cover;
    background-position: center;
    width: 100vw;
    min-height: 100vh;
    position: relative;
    font-family: 'DM Sans', sans-serif;

}

#terminos .contenido {
    position: relative;
    z-index: 2;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 120px;
    border-radius: 10px;
    color: #333;
}
#politica {
    background-image: url('fondos bas.jpg'); 
    background-size: cover;
    background-position: center;
    width: 100vw;
    min-height: 100vh;
    position: relative;
    font-family: 'DM Sans', sans-serif;
}
#politica .contenido {
    position: relative;
    z-index: 2;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 20px;
    border-radius: 10px;
    color: #333;
}
#contacto h2,
#contacto p {
  color: white;
}

h2{
    color: #655F55;
}
p{
    color: #655F55;
}
label{
    color: #FDE9DF;
}
h1{
    color: #655F55;
}
footer{
   text-align: center;
   .footer-text {
    color: white;
  }
  
}
